{{#each notes}}
    <div id='template__notes__finish-by-date' class='finish-by-date'>
        <p>{{finishByDate}}</p>
    </div>
    <div
        id='template__notes__title-padding-left'
        class='title-padding-left'
    ></div>
    <div class='title'>
        <p>{{title}}</p>
    </div>
    <div
        id='template__notes__space-between-title-and-importance'
        class='space-between-title-and-importance'
    ></div>
    <div id='template__notes__importance' class='importance'>
    </div>
    <div
        id='template__notes__importance-padding-right'
        class='importance-padding-right'
    ></div>
    <div id='template__notes__finished' class='finished'>
        {{#if isFinished}}
            <input type='checkbox' checked />
        {{else}}
            <input type='checkbox' />
        {{/if}}
        <span>Finished</span>
        <span class='date'>{{#if finishedDateDisplay}}&nbsp;[
                {{finishedDateDisplay}}
                ]{{/if}}</span>
    </div>

    <div
        id='template__notes__description-padding-left'
        class='description-padding-left'
    ></div>
    <div id='template__notes__description' class='description'>
        {{#if shortDescription}}
            <p id='description-{{id}}-short'>
                {{{shortDescription}}}
            </p>
            <p id='description-{{id}}-full' class='hidden'>
                {{{fullDescription}}}
            </p>
        {{else}}
            <p id='description-{{id}}-short' class='hidden'>
                {{{shortDescription}}}
            </p>
            <p id='description-{{id}}-full'>
                {{{fullDescription}}}
            </p>
        {{/if}}
    </div>
    <div
        id='template__notes__space-between-description-and-arrow'
        class='space-between-description-and-arrow'
    ></div>
    <div id='template__notes__arrow-container' class='arrow-container'>
        {{#if hasExpand}}
            <div
                id='arrow-{{id}}-down'
                note-id='{{id}}'
                class='arrow-down'
            ></div>
            <div
                id='arrow-{{id}}-up'
                note-id='{{id}}'
                class='arrow-up hidden'
            ></div>
        {{/if}}
    </div>
    <div
        id='template__notes__arrow-padding-right'
        class='arrow-padding-right'
    ></div>
    <div id='template__notes__move-edit-down' class='move-edit-down'></div>
    <div id='template__notes__edit-button' class='edit-button'>
        <button note-id='{{id}}'>Edit</button>
    </div>
{{/each}}