{{#each notes}}
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}finish-by-date-{{id}}'
        class='finish-by-date'
    >
        <p>{{finishByDate}}</p>
    </div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}title-padding-left-{{id}}'
        class='title-padding-left'
    ></div>
    <div class='title'>
        <p>{{title}}</p>
    </div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}space-between-title-and-importance-{{id}}'
        class='space-between-title-and-importance'
    ></div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}importance-{{id}}'
        class='importance'
    >
    </div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}importance-padding-right-{{id}}'
        class='importance-padding-right'
    ></div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}finished-{{id}}'
        class='finished'
    >
        {{#if isFinished}}
            <input type='checkbox' checked />
        {{else}}
            <input type='checkbox' />
        {{/if}}
        <span>Finished</span>
        <span class='date'>{{#if finishedDateDisplay}}&nbsp;[
                {{finishedDateDisplay}}
                ]{{/if}}</span>
    </div>

    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}description-padding-left-{{id}}'
        class='description-padding-left'
    ></div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}description-{{id}}'
        class='description'
    >
        {{#if shortDescription}}
            <p id='description-{{id}}-short'>
                {{{shortDescription}}}
            </p>
            <p id='description-{{id}}-full' class='hidden'>
                {{{fullDescription}}}
            </p>
        {{else}}
            <p id='description-{{id}}-short' class='hidden'>
                {{{shortDescription}}}
            </p>
            <p id='description-{{id}}-full'>
                {{{fullDescription}}}
            </p>
        {{/if}}
    </div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}space-between-description-and-arrow-{{id}}'
        class='space-between-description-and-arrow'
    ></div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}arrow-container-{{id}}'
        class='arrow-container'
    >
        {{#if hasExpand}}
            <div
                id='arrow-{{id}}-down'
                note-id='{{id}}'
                class='arrow-down'
            ></div>
            <div
                id='arrow-{{id}}-up'
                note-id='{{id}}'
                class='arrow-up hidden'
            ></div>
        {{/if}}
    </div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}arrow-padding-right-{{id}}'
        class='arrow-padding-right'
    ></div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}move-edit-down-{{id}}'
        class='move-edit-down'
    ></div>
    <div
        id='{{../idPrefixes.template}}{{../idPrefixes.topLevel}}edit-button-{{id}}'
        class='edit-button'
    >
        <button note-id='{{id}}'>Edit</button>
    </div>
{{/each}}