<div id="{{topLevelIdPrefix}}create-note" class="create-note">
    <button>Create new Note</button>
</div>
<div id="{{topLevelIdPrefix}}space-between-create-note-and-color-palette" class="space-between-create-note-and-color-palette"></div>
<div id="{{topLevelIdPrefix}}color-palette-selector" class="color-palette-selector">
<select name="colorPalette">
    <option value="blackWhiteStyle" {{#if isBlackWhiteStyleSelected}}selected{{/if}}>BlackWhite-Style</option>
    <option value="darkMode" {{#if isDarkModeSelected}}selected{{/if}}>Dark Mode</option>
    <option value="rainbow" {{#if isRainbowSelected}}selected{{/if}}>Rainbow</option>
</select>
</div>
<div id="{{topLevelIdPrefix}}by-finish-date" class="by-finish-date"><button>By finish Date</button></div>
<div id="{{topLevelIdPrefix}}by-created-date" class="by-created-date"><button>By created Date</button></div>
<div id="{{topLevelIdPrefix}}by-importance" class="by-importance"><button>By Importance</button></div>
<div id="{{topLevelIdPrefix}}show-finished" class="show-finished">
    <button>
        {{#if isFiltered}}
            Show all
        {{else}}
            Show finished
        {{/if}}
    </button>
    </div>
{{#each notes}}
    <div
        id='{{../topLevelIdPrefix}}finish-by-date-{{id}}'
        class='finish-by-date'
    >
        <p>{{finishByDate}}</p>
    </div>
    <div
        id='{{../topLevelIdPrefix}}title-padding-left-{{id}}'
        class='title-padding-left'
    ></div>
    <div id='{{../topLevelIdPrefix}}title-{{id}}' class='title'>
        <p>{{title}}</p>
    </div>
    <div
        id='{{../topLevelIdPrefix}}space-between-title-and-importance-{{id}}'
        class='space-between-title-and-importance'
    ></div>
    <div
        id='{{../topLevelIdPrefix}}importance-{{id}}'
        class='importance'
    >
    </div>
    <div
        id='{{../topLevelIdPrefix}}importance-padding-right-{{id}}'
        class='importance-padding-right'
    ></div>
    <div
        id='{{../topLevelIdPrefix}}finished-{{id}}'
        class='finished'
    >
        {{#if isFinished}}
            <input type='checkbox' checked />
        {{else}}
            <input type='checkbox' />
        {{/if}}
        <span>Finished</span>
        <span class='date'>{{#if finishedDate}}&nbsp;[
                {{finishedDate}}
                ]{{/if}}</span>
    </div>

    <div
        id='{{../topLevelIdPrefix}}description-padding-left-{{id}}'
        class='description-padding-left'
    ></div>
    <div
        id='{{../topLevelIdPrefix}}description-{{id}}'
        class='description'
    >
        {{#if shortDescription}}
            <p id='description-{{id}}-short'>
                {{{shortDescription}}}
            </p>
            <p id='description-{{id}}-full' class='hidden'>
                {{{fullDescription}}}
            </p>
        {{else}}
            <p id='description-{{id}}-short' class='hidden'>
                {{{shortDescription}}}
            </p>
            <p id='description-{{id}}-full'>
                {{{fullDescription}}}
            </p>
        {{/if}}
    </div>
    <div
        id='{{../topLevelIdPrefix}}space-between-description-and-arrow-{{id}}'
        class='space-between-description-and-arrow'
    ></div>
    <div
        id='{{../topLevelIdPrefix}}arrow-container-{{id}}'
        class='arrow-container'
    >
        {{#if hasExpand}}
            <div
                id='arrow-{{id}}-down'
                note-id='{{id}}'
                class='arrow-down'
            ></div>
            <div
                id='arrow-{{id}}-up'
                note-id='{{id}}'
                class='arrow-up hidden'
            ></div>
        {{/if}}
    </div>
    <div
        id='{{../topLevelIdPrefix}}arrow-padding-right-{{id}}'
        class='arrow-padding-right'
    ></div>
    <div
        id='{{../topLevelIdPrefix}}move-edit-down-{{id}}'
        class='move-edit-down'
    ></div>
    <div
        id='{{../topLevelIdPrefix}}edit-button-{{id}}'
        class='edit-button'
    >
        <button note-id='{{id}}'>Edit</button>
    </div>
{{/each}}